!!! 1.1
%html
  %head
    = css 'qunit'
    = js 'jquery'
    = js 'a_b'
    = js 'qunit'
    = js 'spec/fake_data'
    %script{ :type => 'text/javascript' }
      :erb
        window.category = <%= @category.to_json %>;
        window.test = <%= @test.to_json %>;
        <% if @test %>
        reset_a_b();
        function reset_a_b() {
          <%= a_b %>
        }
        <% end %>
  %body
    %h1{ :id => "qunit-header" } a_b fake data
    %h2{ :id => "qunit-banner" }
    %h2{ :id => "qunit-userAgent" }
    %ol{ :id => "qunit-tests" }